.post {
  width: 300px;
  height: 450px;
  /* background-color: red; */
  box-shadow: -7px -7px 20px 0px #fff9, -4px -4px 5px 0px #fff9,
    7px 7px 20px 0px #0002, 4px 4px 5px 0px #0001, inset 0px 0px 0px 0px #fff9,
    inset 0px 0px 0px 0px #0001, inset 0px 0px 0px 0px #fff9,
    inset 0px 0px 0px 0px #0001;
  transition: box-shadow 0.6s cubic-bezier(0.79, 0.21, 0.06, 0.81);
  margin: 0px 0px 40px 20px;
  border-radius: 10px;
}

.postImg {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 7px;
}

.postInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.postCat {
  font-family: 'Varela Round', sans-serif;
  font-size: 11px;
  color: #be9656;
  line-height: 20px;
  margin-top: 15px;
  margin-right: 10px;
  cursor: pointer;
}

.postTitle {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 20px;
  font-weight: 700;
  margin-top: 15px;
  cursor: pointer;
  word-wrap: break-word;
}

.postDate {
  font-family: 'Lora', serif;
  font-style: italic;
  font-size: 13px;
  color: #999;
  margin-top: 15px;
}

.postDesc {
  /* background-color: royalblue; */
  margin-top: 30px;
  margin-left: 10px;
  overflow: hidden;
}

.postDesc-heading {
  /* background-color: sandybrown; */
  font-weight: bold;
  width: 150px;
  height: 30px;
}

.postDesc-Item {
  display: flex;
  text-overflow: ellipsis;
}

/* .postDesc {
  background-color: red;
  font-family: 'Varela Round', sans-serif;
  font-size: 14px;
  color: #444;
  line-height: 24px;
  margin-top: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.postDec-heading {
  width: 1100px;
} */
